@page "/products/{id:int}";

@if(currentProduct == null)
{
    <span>@message</span>
}
else
{
    <div class="media">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@currentProduct.ImageUrl" alt="@currentProduct.Title" />
        </div>
        <div class="media-body">
            <h2 class="mb-0">@currentProduct.Title</h2>
            <p>@currentProduct.Description</p>
            @if(currentProduct.Variants != null && currentProduct.Variants.Count > 0)
            {
                <div class="mb-3">
                    <select class="form-select" @bind="currentTypeId">
                        @foreach (var variant in currentProduct.Variants)
                        {
                            <option value="@variant.ProductTypeId">
                                @variant.ProductType.Name
                            </option>
                        }
                    </select>
                </div>
            }
            @if(GetSelectedVariant() != null)
            {
                @if(GetSelectedVariant().OriginalPrice > GetSelectedVariant().Price)
                {
                    <h6 class="text-muted original-price">
                        $@GetSelectedVariant().OriginalPrice
                    </h6>
                }
                <h4 class="price">$@GetSelectedVariant().Price</h4>
            }
        </div>
    </div>
}